.header {
    height: 20vh;
    display: flex;
    background-color: black;
    color: whitesmoke;
}

.categorias {
    color: #ef6c00;
    text-decoration-line: underline;
}

.contenido {
    height: 80%;
    color: #ffffff;
    text-decoration: none;
}

#logo {
    float: left;
    width: 110px;
    background-color: black;
}

.logo {
   width: 40%;
   padding: 2.5px; 
}

.moverderecha {
    float: right;
    width: 60%;
    background-color: 060606;
}

.menus {
    float: right;
    width: 60%;
    margin-right: 96px;
}

.barra {
    display: flex;
    margin-top: 33px;
}

.busqueda {
    width: 130%;
}

a.boton {
    text-decoration: none;
    margin: 5px 5px 5px 5px;
    background-color: #b7cfd2;
    padding: 5px 11px 5px 11px;
}
body {
    margin: 0;
    background-color: ##fff8e1;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

a.boton:hover {
    background-color: whitesmoke;
}

#buscar {
    width: 280px;
}

#fondo {
    width: 100%;
}

li {
    list-style-type: none;
    margin-bottom: 8px;
}

li >a {
    text-decoration: none;
}

.la_lista_que_esta_oculta_en_perifericos {
    display: none;
}

.periferico:hover .la_lista_que_esta_oculta_en_perifericos {
    display: block;
}

.la_lista_que_esta_oculta_en_gabinetes {
    display: none;
}

.gabinete:hover .la_lista_que_esta_oculta_en_gabinetes {
    display: block;
}

.la_lista_que_esta_oculta_en_memorias {
    display: none;
}

.memoria:hover .la_lista_que_esta_oculta_en_memorias {
    display: block;
}

.la_lista_que_esta_oculta_en_mother {
    display: none;
}

.mother:hover .la_lista_que_esta_oculta_en_mother {
    display: block;
}

.la_lista_que_esta_oculta_en_procesadores {
    display: none;
}

.procesadores:hover .la_lista_que_esta_oculta_en_procesadores {
    display: block;
}

.la_lista_que_esta_oculta_en_discos {
    display: none;
}

.discos:hover .la_lista_que_esta_oculta_en_discos {
    display: block;
}

.img_enlace {
    float: right;
    top: 60%;
}
