html *{
	margin:0;
}

body {
	background-color: whitesmoke ;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#cabezera {
	background-color: whitesmoke;
	text-align: center;
	text-decoration: solid;
}

#lista1 {
	font-style: italic;
	background-color: #aecec0;
}

#lista2 {
	margin-bottom: 60px;
	font-size: 1.5em;
	margin-left: 70%;

}
.header {
	background-color: black;
	color: whitesmoke;
	
}
#title {
	margin-left: 45px;
	color: #d1ebd9;

}

a.Botones {
	color: white;
}

.ButtonMove {
	text-align: right;
}
a {
	text-decoration: none;
	color: black;
}
.Botones {
	margin: 5px;
}

a:hover  {
	color: red;
}

#Buttons {
	margin-left: 70%;
}

#P1 {
	background-color: #b5d1dd;
	border: solid 1px;
}

#Links {
	background-color: #8fb5f1;
	border: solid 1px;
}
